@media (max-width: 1200px) {
    body{
        margin-top: 50px;
        margin-left: 10vh;
        margin-right: 10vh;
    }
    
}

@media (min-width: 1200px) {
    body{
        margin-top: 50px;
        margin-left: 50vh;
        margin-right: 50vh;
    }
    
}

body div{
    background-color: rgb(242, 227, 255);
    text-align: center;
    padding: 22px;
    border-radius: 22px;
}